In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans, AgglomerativeClustering, SpectralClustering as Spectral

In [5]:
def purity_score(y,y_pre):
    m = {}
    for i in range(len(y)): # traverse the results matrix and store the objects that belong to each cluster on a map
        if y_pre[i] in m: 
            m[y_pre[i]].append(i)
        else:
            m[y_pre[i]] = [i]
     
    tot = 0
    
    for i in m: # check the most common class in each of the clusters
        c = {}
        mx = 0 # number of members of the most common class in the cluster
        for j in m[i]: 
            if y[j] in c:
                c[y[j]] += 1
            else:
                c[y[j]] = 1
            mx = max(mx,c[y[j]])
        tot += mx
    return tot/len(y)

In [9]:
df = pd.DataFrame()

In [2]:
ab = pd.read_csv('abalone.data',sep=',',header=None)
ab.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [3]:
X = np.array(ab[range(1,8)])
y = np.array(ab[[8]])

In [6]:
ab[8]

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: 8, Length: 4177, dtype: int64

In [7]:
mx = 0
for i in range(1,101):
    km = KMeans(n_clusters=i)
    km.fit(X)
    p = purity_score(ab[8],km.labels_)
    c = purity_score(km.labels_,ab[8])
    mx = max(mx,(2*p*c)/(p+c))
mx

0.32514269910361665

In [10]:
df["abalone"] = [mx]
df

    abalone
0  0.325143

In [8]:
ir = pd.read_csv("iris.data",header=None)
ir.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [11]:
X = ir[[0,1,2,3]]

In [12]:
mx = 0
for i in range(1,101):
    km = KMeans(n_clusters=i)
    km.fit(X)
    p = purity_score(ir[4],km.labels_)
    c = purity_score(km.labels_,ir[4])
    mx = max(mx,(2*p*c)/(p+c))
mx

0.8933333333333333

In [14]:
df["iris"] = [mx]
df

    abalone      iris
0  0.325143  0.893333

In [15]:
lr = pd.read_csv("letter-recognition.data",header=None)
lr.head()

  0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0  T   2   8   3   5   1   8  13   0   6   6  10   8   0   8   0   8
1  I   5  12   3   7   2  10   5   5   4  13   3   9   2   8   4  10
2  D   4  11   6   8   6  10   6   2   6  10   3   7   3   7   3   9
3  N   7  11   6   6   3   5   9   4   6   4   4  10   6  10   2   8
4  G   2   1   3   1   1   8   6   6   6   6   5   9   1   7   5  10

In [22]:
X = lr[list(range(1,17))]
X

       1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0       2   8   3   5   1   8  13   0   6   6  10   8   0   8   0   8
1       5  12   3   7   2  10   5   5   4  13   3   9   2   8   4  10
2       4  11   6   8   6  10   6   2   6  10   3   7   3   7   3   9
3       7  11   6   6   3   5   9   4   6   4   4  10   6  10   2   8
4       2   1   3   1   1   8   6   6   6   6   5   9   1   7   5  10
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
19995   2   2   3   3   2   7   7   7   6   6   6   4   2   8   3   7
19996   7  10   8   8   4   4   8   6   9  12   9  13   2   9   3   7
19997   6   9   6   7   5   6  11   3   7  11   9   5   2  12   2   4
19998   2   3   4   2   1   8   7   2   6  10   6   8   1   9   5   8
19999   4   9   6   6   2   9   5   3   1   8   1   8   2   7   2   8

[20000 rows x 16 columns]

In [23]:
mx = 0
for i in range(1,101):
    km = KMeans(n_clusters=i)
    km.fit(X)
    p = purity_score(ir[0],km.labels_)
    c = purity_score(km.labels_,ir[0])
    mx = max(mx,(2*p*c)/(p+c))
mx

KeyError: 150